html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#entete{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.video_entete{
    left:0 ;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    object-position: center;

}
.nomsite{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: black;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#formauto{
    position: relative;
    border: 1px solid rgb(247, 244, 244);
    border-left: none;
    border-right: none;
    background-color:rgb(000, 000,000, 0.2) ;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-height: 10%;
    text-align: center;
    padding: 2%;
}
#auto{
    border: 1px solid gray;
    width: 160px;
    min-height: 200px;
    margin-right: 20px;
   
    padding-left: 5px;
    float: left;

}
#img{
    margin: 5px;
    width: 130px;
    height: 100px;
}
#motcle{
    height: 30px;
    width: 300px;
    border: none;
    padding-left: 2px;

}
.btfind{
    height: 30px;
    width: 300px;
    border: none;
    background-color:#F30 ;
    color:#FFF ;

}
#articles{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    vertical-align: middle;
}

b{
    color: #F30;
    font-size: 18px;
}
/*  login  */
a{
    text-decoration: none;

}
#entete .login{
    opacity: 0.8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: 1px solid #F30;
    border-right: none;
    cursor: pointer;
    right: 0;
    width: 5%;
    position: absolute;
    z-index: 10;

}
#entete .login:ahover{
    opacity: 1;
    background-color: #F30;
    border: none;
}
/*----ici page login------*/

#container{
width: 400px;margin: 0 auto;margin-top: 10%;

}
#container h1{
    width: 38%;margin: auto;
    padding-bottom: 10px;
}
.formulair{
    width: 300px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.2),0 5px 5px 0 rgb(0,0,0,0.25);

}
.zonetext{
    background-color: rgb(241, 236, 235);
    color: rgb(29, 27, 27);
    padding: 14px 20px ;margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;

}
.submit{
    background-color: #F30;
    color: white;
    padding: 14px 20px ;margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.submit:hover{
background-color: white;
color: #F30;
border: 1px solid #F30;
}
/*----accuile----*/
#global{
    width: 100%;
    padding: 5px;
    margin: 10px;

}
#global #profil{
    width: 20%;
    padding: 5%;
    vertical-align: middle;
    text-align: center;
    min-height: 100px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.2),0 5px 5px 0 rgb(0,0,0,0.25);
}
#global #tableaubord{
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.2),0 5px 5px 0 rgb(0,0,0,0.25);
    min-height: 100px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    background: #fff;
    vertical-align: middle;
width: 70%;
padding: 20px;
margin: 5px;
}
/* ......tableaubord.....*/
table{
    caption-side: bottom;

}
th,td{
    border: none;
    padding: 10px;

}
th{
    border: none;
    background-color: #f30;padding: 10px;
}
.myphoto{
    width: 160px;
    height: 100px;
    border-radius: 5%;
    border: 1px solid;
}